*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-flow: row wrap;
}
h2{ margin-top: 25px;
    flex: 3 1 100%;
    text-align: center;
}
main{
    flex: 3 1 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px 0px 0px;
}
article {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
} 
#beer, #chips, #cigaretts {
    flex: 1 1 27%;
    min-width: 200px;
    display: flex;
    flex-flow: row wrap;
}
#casa_obj {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
}
#checkout {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
h3 {
    flex: 1 1 100%;
    text-align: center;
}
.img {
    flex: 1 1 100%;
    height: 250px;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}